<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Stylesheet.css">
</head>
<body>
    <div class="table-title">
        <h3 style>Results</h3>
    </div>
    <table class="table-fill">
        <thead>
        <tr>
            <th class="text-left">ID</th>
            <th class="text-left">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th class="text-left">Campus</th>
            <th class="text-left">Current</th>
            <th class="text-left">Last Term&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th class="text-left">Total Credits</th>
            <th class="text-left">Rank</th>
            <th class="text-left">GPA</th>
            <th class="text-left">Programs</th>
            <th class="text-left">Eagle Mail</th>
            <th class="text-left">History</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        <tr>
            <td class="text-left">123456789</td>
            <td class="text-left">Bob Smith</td>
            <td class="text-left">Clarion</td>
            <td class="text-left">Senior</td>
            <td class="text-left">Spring 2018</td>
            <td class="text-left">110</td>
            <td class="text-left">Rank</td>
            <td class="text-left">3.2</td>
            <td class="text-left">CIS</td>
            <td class="text-left">b.l.smith@eagle.clarion.edu</td>
            <td class="text-left">None</td>
        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        </tbody>
    </table>
    <center><input type="button" class="btn btn-success" value="Main Menu" onclick="window.location.href='HomePage.php'"/></center>
    <center><input type="button" class="btn btn-success" value="Edit Question"  onclick="window.location.href='MainApplicationStudentQuestion.html'"/></center>
</body>
</html>